@model Zedx.Models.ProductAluminum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductAluminum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAluminumName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAluminumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatePerFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatePerFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductAluminumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
