@model IEnumerable<Zedx.Models.ProductAluminum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductAluminumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatePerFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AluminumColor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AluminumGage.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAluminumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AluminumColor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AluminumGage.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductAluminumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductAluminumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductAluminumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
