@model Zedx.Models.DTO.BillRequest

@{
    ViewData["Title"] = "Create";
}
<div id="divPrint">
    <div>
        <div class="row border border-dark">
            <div class="col-md-1"></div>
            <div class="col-md-10 font-weight-bold text-center"><h1>Haji Aluminum,Glass and Hardware Store</h1></div>
            <div class="col-md-1"></div>
            <div class="col-md-12 text-center">High Court Road, Near Car-Chowk, Bahria Town, 0300-5542400 , 03005014526</div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h6>Bill Id</h6></div><div class="col-md-2 font-weight-bold"><h6>@Model.BillId</h6></div>
                <div class="col-md-2 font-weight-bold"></div>
                <div class="col-md-2 font-weight-bold"><h6>Customer</h6></div><div class="col-md-4 font-weight-bold float-left"><h6>@Model.CustomerName</h6></div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h6>Date</h6></div><div class="col-md-2 font-weight-bold float-left"><h6>@Model.BillDate</h6></div>
                <div class="col-md-2 font-weight-bold"></div>
                <div class="col-md-2 font-weight-bold"><h6>Number</h6></div><div class="col-md-4 font-weight-bold float-left"><h6>@Model.Number</h6></div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h6>Address</h6></div><div class="col-md-10 font-weight-bold float-left"><h6>@Model.Address</h6></div>
            </div>
        </div>
        <div class="row border border-dark mt-1 mb-1">

        </div>
    </div>

    <partial name="_BillDetails" model="Model">
</div>
@section Styles{
    <style>
        tfoot td {
            border: none !important;
        }

        tfoot {
            border-top: 1px solid black;
        }

        @@media print {
            body {
                width: 21cm;
                height: 29.7cm;
                margin: 5mm 5mm 5mm 5mm;
            }
        }
    </style>
}
@section Scripts{
    <script>
        jQuery(document).ready(function () {
            RemoveExtraInfo();
            HeightWidthExist();
            Print();
        });

        function HeightWidthExist() {
            var IsRemove = true;
            $(".sheetWidth").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            $(".sheetHeight").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            if (IsRemove) {
                $(".sheetHeight,.sheetWidth,.thHeight,.thwidth").remove();
            }
        }
        function RemoveExtraInfo() {
            $(".tdAction").remove();
            $("table").removeClass("table-striped");
            $("footer").remove();
        }
        function Print() {
            window.print();
        }
    </script>
}