@model Zedx.Models.DTO.BillRequest

@{
    ViewData["Title"] = "Create";
}
<div id="divPrint">
    <div>
        <div class="row border border-dark">
            
            <div class="col-md-12 font-weight-bold text-center" style="font-size:35pt">Haji Aluminum,Glass and Hardware Store</div>
            
            <div class="col-md-12 text-center"><h5>High Court Road, Near Car-Chowk, Bahria Town, 0300-5542400 , 03005014526</h5></div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h4>Bill Id</h4></div><div class="col-md-2 font-weight-bold"><h4>@Model.BillId</h4></div>
                <div class="col-md-2 font-weight-bold"></div>
                <div class="col-md-2 font-weight-bold"><h4>Customer</h4></div><div class="col-md-4 font-weight-bold float-left"><h4>@Model.CustomerName</h4></div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h4>Date</h4></div><div class="col-md-2 font-weight-bold float-left"><h4>@Model.BillDate</h4></div>
                <div class="col-md-2 font-weight-bold"></div>
                <div class="col-md-2 font-weight-bold"><h4>Number</h4></div><div class="col-md-4 font-weight-bold float-left"><h4>@Model.Number</h4></div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 font-weight-bold"><h5>Address</h5></div><div class="col-md-10 font-weight-bold float-left"><h4>@Model.Address</h4></div>
            </div>
        </div>
        <div class="row border border-dark mt-1 mb-1">

        </div>
    </div>

    <partial name="_BillDetails" model="Model">
</div>
@section Styles{
    <style>
        tfoot td {
            border: none !important;
        }

        tfoot {
            border-top: 1px solid black;
        }

        @@media print {
            body {
                width: 21cm;
                height: 29.7cm;
                margin: 5mm 5mm 5mm 5mm;
            }
        }
    </style>
}
@section Scripts{
    <script>
        jQuery(document).ready(function () {
            RemoveExtraInfo();
            HeightWidthExist();
            Print();
        });

        function HeightWidthExist() {
            var IsRemove = true;
            $(".sheetWidth").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            $(".sheetHeight").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            if (IsRemove) {
                $(".sheetHeight,.sheetWidth,.thHeight,.thwidth").remove();
            }
        }
        function RemoveExtraInfo() {
            $(".tdAction").remove();
            $("table").removeClass("table-striped");
            $("footer").remove();
        }
        function Print() {
            window.print();
        }
    </script>
}