@model Zedx.Models.AluminumStock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AluminumStock</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAluminum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAluminum.ProductAluminumName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AluminumStockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
