@model IEnumerable<Zedx.Models.AluminumStock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductAluminum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAluminum.AluminumGage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAluminum.AluminumColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
             @Html.DisplayNameFor(model => model.Length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAluminum.ProductAluminumName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.ProductAluminum.AluminumGage.Name)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.ProductAluminum.AluminumColor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AluminumStockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AluminumStockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AluminumStockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
